@page "/teams/list"
@using operait.Documents
<Container>
    <Bar Breakpoint="Breakpoint.Desktop"
         Background="Background.Light"
         ThemeContrast="ThemeContrast.Light">
        <BarBrand>Teams</BarBrand>
        <BarMenu>
            <BarStart>

            </BarStart>
            <BarEnd>
                <BarItem>
                    <Button Color="Color.Primary" Clicked="@ShowAddTeam">Add Team</Button>
                </BarItem>
            </BarEnd>
        </BarMenu>
    </Bar>
    <Row>
        <Column ColumnSize="ColumnSize.Is3">
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <TextEdit Placeholder="Search" />
                </Addon>
                <Addon AddonType="AddonType.End">
                    <Button Color="Color.Secondary">Search</Button>
                </Addon>
            </Addons>
        </Column>
    </Row>
    <DataGrid TItem="operait.Documents.Team"
              Data="@teamList"
              Responsive Editable 
              EditMode="DataGridEditMode.Popup" ShowPager 
              CommandMode="DataGridCommandMode.Commands" 
              RowUpdated="(a) => TeamUpdated(a.Item)"
              SelectedRow="@selectedTeam"
              SelectedRowChanged="TeamSelected">
        <DataGridColumns>
            <DataGridColumn Field="@nameof(operait.Documents.Team.Name)" Caption="Name" Editable />
            <DataGridColumn Field="@nameof(operait.Documents.Team.Description)" Caption="Description" Editable />
            <DataGridCommandColumn>
                <EditCommandTemplate>
                    <Button Color="Color.Primary" Clicked="@context.Clicked">Edit</Button>
                </EditCommandTemplate>
                <NewCommandTemplate/>
            </DataGridCommandColumn>
        </DataGridColumns>
    </DataGrid>

</Container>

<Modal @ref="addTeamRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Add team</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
                <Field>
                    <FieldLabel>Name</FieldLabel>
                    <TextEdit @bind-Text="name"  />
                </Field>
                <Field>
                    <FieldLabel>Description</FieldLabel>
                    <TextEdit @bind-Text="description"  />
                </Field>
                <Field >
                    <FieldLabel>Add members</FieldLabel>
                    <Repeater Items="@addedUsers">
                    <Fields Class="border border-1 shadow-sm m-0 p-1">
                            <Field Class="m-0">
                                <Text>@context.Name</Text>
                            </Field>
                            <Field Class="m-0">
                                <Select TValue="string">
                                <SelectItem>Admin</SelectItem>
                                <SelectItem>User</SelectItem>
                            </Select>
                            </Field>
                        </Fields>
                    </Repeater>
                    <Autocomplete TItem="User" Class="mt-2"
                        TValue="User"
                        Data="@allUsers"
                        TextField="@(( item ) => item.Name)"
                        ValueField="@(( item ) => item)"
                        Placeholder="Search"
                        Filter="AutocompleteFilter.Contains"
                        SelectedValueChanged="SelectedUserChanged">

                    </Autocomplete>
                </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideAddTeam">Cancel</Button>
            <Button Color="Color.Primary" Clicked="@AddTeamAsync">Add</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

